<h2>User info</h2>
<%= form_for(@user) do |user| %>

<p><%= attachment_image_tag @user, :profile_image, :fill, 80, 80, format: 'jpeg', fallback: "no-image.jpg",size:'80x80' %></p>
<table style="width: 100%">
	<thead>
		<tr style="border-top: solid 1px gray;">
			<th>name</th><th><%= @user.name %> </th>
		</tr>
		<tr style="border-top: solid 1px gray;">
			<th>introduction</th><th><%= @user.introduction %></th>
		</tr>
		<% end %>
	</thead>
</table>

<p> <% if @user.id == current_user.id %>
<p><%= link_to edit_user_path(@user), class: "btn btn-default btn-block" do %><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span><% end%></p>
<% end %>
</p>

<h2>New book</h2>
<%= form_for(@book) do |f| %>
<h4>Title</h4>
<p><%= f.text_field :title %></p>
<h4>Opinion</h4>
<p><%= f.text_area :body %><p>
<p><%= f.submit 'Create Book', class: "btn btn-info btn-block" %></p>
<% end %>

